[user]
	email = scott@oharagroup.net
	name = Scott O'Hara
[core]
	editor = kate
[merge]
	tool = kdiff3
[alias]
	co = checkout
	br = branch
	st = status
[color]
	ui = auto
[github]
	token = f3c420899b6127a064a806d2aa29454f
	user = scottohara
