[submodule "konsole-colors-solarized"]
	path = konsole-colors-solarized
	url = git://github.com/phiggins/konsole-colors-solarized.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = git://github.com/VundleVim/Vundle.vim
	ignore = untracked
[submodule "osx/osx-lion-terminal.app-colors-solarized"]
	path = osx/osx-lion-terminal.app-colors-solarized
	url = git://github.com/tomislav/osx-lion-terminal.app-colors-solarized.git
