[submodule "vimplugins/xmledit"]
	path = vimplugins/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "vimplugins/surround"]
	path = vimplugins/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimplugins/vim-colors-solarized"]
	path = vimplugins/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "vimplugins/gundo"]
	path = vimplugins/gundo
	url = git://github.com/sjl/gundo.vim.git
