@font-face {
    font-family: 'Fira Code Ligatures';
    src: local('Fira Code');
    unicode-range: U+0021, U+0023-0026, U+0028-0029, U+002A-002B, U+002D-002F, U+003A-0040, U+005B-005F, U+007B-007E;
}

.view-lines {
    font-family: 'Fira Code Ligatures', 'Operator Mono' !important;
}